.splash h1 {
  color: var(--color-main);
  font-size: 34px;
}

.video {
  width: 100%;
  border-radius: 12px;
  background: #ddd;
}

.help {
  font-size: 14px;
  color: #6c6497;
}

.setting-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
